@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
  text-transform: capitalize;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  scroll-behavior: smooth;
}

li {
  text-decoration: none;
}

:root {
  /* --gold-color: #c6974a; */
  --black-color: #0d0d0d;
  --white-color: #fff;
  --light-color: #aaa;
  --bg-color: #222;
  --black-bg: rgba(17, 17, 17, 0.7);
  --border: 0.2rem solid #aaa;
}

section {
  padding: 3rem 9%;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;

  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    background: var(--white-color);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--black-color);
  }
}

body {
  background: var(--white-color);
  overflow-x: hidden;
}

.btn-1 {
  color: var(--white-color);
  background-color: var(--black-color);
  padding: 1.5rem;
  border-radius: 8px;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
}
.btn-1:hover {
  background-color: var(--light-color);
  color: var(--black-color);
}

/* ----------------------------------------------------Header------------------------------- */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: var(--white-color);
  padding: 1rem 0;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  transition: 0.5s;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* margin-right: 30rem; */
}

.navbar {
  z-index: 2;
  overflow: hidden;
  /* background-color: #333; */
  /* font-family: Arial; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: var(--black-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--black-color);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown {
  transition: all ease 0.5s;
}

.dropdown .dropbtn i {
  color: var(--light-color);
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: var(--black-bg);
  color: var(--white-color);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--black-bg);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: var(--white-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--light-color);
  color: var(--black-color);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.header-button {
  padding-left: 10rem;
}

/* -------------------------------sidebar---------------------------- */

.navbar-toggler i {
  position: absolute;
  z-index: 1;
  left: 20%;
  top: 10%;
  /* background-color: var(--black-color); */
  color: var(--black-color);
  font-size: 3rem;
  display: none;
}

.sidepanel {
  background-color: var(--light-color);
  z-index: 1;
  position: fixed;
  width: 320px;
  height: 100vh;
  top: 0;
  left: -320px;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 40px 20px 20px 20px;
}
.sidebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar-btn {
  background-color: transparent;
}
.sidebar button {
  width: 44px;
  height: 44px;
  background: linear-gradient(42deg, #c6974a 0.01%, #574220 100%);
  padding: 10px 12px 10px 12px;
  margin-bottom: 10rem;
  border-radius: 0.25em;
  /* border: var(--border); */
  color: var(--black-color);
  cursor: pointer;
}
.sidebar button:hover {
  background: inherit;
  color: var(--white-color);
}
.sidebar a {
  padding: 10px 0;
}

aside ul {
  padding: 0;
  display: flex;
  flex-direction: column;
}
aside ul li {
  margin: 15px 0;
}
aside li a {
  color: var(--black-color);
  transition: 500ms;
  padding: 10px 0;
}
aside ul li a.active {
  color: var(--black-bg);
}

aside .pages {
  font-weight: 500;
  color: #d3c9c1;
  margin: 11px 0 7px 0;
}
.collapse-btn {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.collapse-btn i {
  border: 1px solid #d3c9c1;
  border-radius: 40px;
  padding: 7px 8px;
}
.collapse-btn i:hover {
  border: 1px solid var(--blue-color);
}
.plus_collapse {
  margin: -52px 0 0 0;
  height: 45px;
}
#pages {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
.show {
  height: 500px !important;
  transform: height 0.34s ease;
}

.nav-link {
  font-size: 2.3rem;
  font-weight: 500;
  color: var(--black-color);
  margin: 10rem 1.2rem;
}
/* .logo {
  margin-right: 5rem;
} */
.logo img {
  width: 20rem;
  cursor: pointer;
}

.addtocart i {
  font-size: 3rem;
  color: var(--black-color);
  margin-right: 1rem;
}
.addtocart i:hover {
  color: var(--light-color);
}

/* ----------------------------------------------------------Home------------------------------------- */

.home-container {
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10rem 0; */
  margin-top: 15rem;
}

.home-img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-img img {
  width: 70rem;
  /* height: 100%; */
  object-fit: cover;
}

.home-btn {
  position: absolute;
  top: 69.5%;
  left: 80.5%;
}

.home-social {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  /* margin-top: 2rem; */
  top: 50%;
  right: 3%;
  border-radius: 5px;
}
.home-social i {
  font-size: 3rem;
  font-weight: 500;
  color: var(--white-color);
  background-color: var(--black-color);
  padding: 1.5rem;
}
.home-social i:hover {
  background-color: var(--light-color);
  color: var(--black-color);
  font-weight: 700;
}

/* ----------------------------------------------------------sale------------------------------------- */

.winter-sale-container {
  background-image: linear-gradient(
      135deg,
      rgba(159, 159, 159, 0.46) 0%,
      rgba(159, 159, 159, 0.46) 14.286%,
      rgba(165, 165, 165, 0.46) 14.286%,
      rgba(165, 165, 165, 0.46) 28.572%,
      rgba(171, 171, 171, 0.46) 28.572%,
      rgba(171, 171, 171, 0.46) 42.858%,
      rgba(178, 178, 178, 0.46) 42.858%,
      rgba(178, 178, 178, 0.46) 57.144%,
      rgba(184, 184, 184, 0.46) 57.144%,
      rgba(184, 184, 184, 0.46) 71.43%,
      rgba(190, 190, 190, 0.46) 71.43%,
      rgba(190, 190, 190, 0.46) 85.716%,
      rgba(196, 196, 196, 0.46) 85.716%,
      rgba(196, 196, 196, 0.46) 100.002%
    ),
    linear-gradient(
      45deg,
      rgb(252, 252, 252) 0%,
      rgb(252, 252, 252) 14.286%,
      rgb(246, 246, 246) 14.286%,
      rgb(246, 246, 246) 28.572%,
      rgb(241, 241, 241) 28.572%,
      rgb(241, 241, 241) 42.858%,
      rgb(235, 235, 235) 42.858%,
      rgb(235, 235, 235) 57.144%,
      rgb(229, 229, 229) 57.144%,
      rgb(229, 229, 229) 71.43%,
      rgb(224, 224, 224) 71.43%,
      rgb(224, 224, 224) 85.716%,
      rgb(218, 218, 218) 85.716%,
      rgb(218, 218, 218) 100.002%
    );
}

.winter-sale {
  margin-top: 5rem;
  /* margin-bottom: 20rem; */
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}

.content h1 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 5.5rem;
  font-weight: 600;
}
.content p {
  font-size: 2rem;
  color: var(--black-color);
  margin-bottom: 3rem;
}

.sale-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  gap: 2rem;
  margin-bottom: 3rem;
}

.sales-img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 5rem; */
}
.sales-img img {
  width: 150rem;
  height: 50rem;
  object-fit: cover;
}

.sale-img-btn1 {
  position: absolute;
  top: 186%;
  left: 17%;
  z-index: 1;
}

.sale-img-btn2 {
  position: absolute;
  top: 205%;
  right: 22%;
  z-index: 1;
}

.sale-img-btn2 .btn-1,
.sale-img-btn1 .btn-1 {
  font-size: 1.5rem;
  padding: 1.3rem;
}

/* ----------------------------------------------------------Categories------------------------------------- */

.categories {
  margin-bottom: 5rem;
  margin-top: 15rem;
}

.box-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.image-wrapper {
  position: relative; /* Ensures the positioning context is set for the absolute positioning of the child img */
  overflow: hidden; /* Hides any parts of the img that overflow the dimensions of the box */
  width: 80rem; /* some width */ /* Set a specific width */
  height: 60rem; /* some height */ /* Set a specific height */
}

.image-wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80rem;
  height: 60rem;
  object-fit: cover;
}

.box-content-container {
  display: flex;
  align-items: center; /* Centers content vertically */
  justify-content: space-between; /* Maximizes space between elements */
}

.box:nth-child(odd) .box-content-container {
  flex-direction: row-reverse; /* Image on the right, text on the left */
}

.box:nth-child(even) .box-content-container {
  flex-direction: row; /* Image on the left, text on the right */
}

.box-content1 h3,
.box-content2 h3,
.box-content3 h3,
.box-content4 h3,
.box-content5 h3,
.box-content6 h3 {
  margin-bottom: 1rem;
  color: black;
  font-size: 5rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 900;
  font-style: normal;
}

.box-content-container .btn-1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}

/* ----------------------------------------------------------Footer------------------------------------- */

.footer {
  margin-top: 5rem;
}

.footer-container {
  width: 100%;
  height: 100%;
  --s: 37px; /* control the size */

  --c: #0000, #282828 0.5deg 119.5deg, #0000 120deg;
  --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
  --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
  --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
  background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
    var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
    var(--g3) 0 calc(1.73 * var(--s)) #1e1e1e;
  background-size: calc(2 * var(--s)) calc(3.46 * var(--s));
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [4];
  grid-template-columns: repeat(4, 1fr);
}

.footer .box-container .box {
  padding: 1rem 0 !important;
}

.footer .box .logo {
  padding-bottom: 1rem;
  /* width: 40%; */
}

.footer .box img {
  width: 35rem;
  height: 20rem;
}

.footer-line {
  color: var(--white-color) !important;
}

.footer .contact-info h3 {
  color: var(--white-color);
  font-size: 2.2rem;
  margin-bottom: 3rem;
}

.footer .contact-info p {
  padding: 1rem 0;
  font-size: 2rem;
  color: var(--light-color);
  line-height: 2;
}

.phone-number {
  margin-top: 5rem;
  color: var(--light-color); /* Ensures the text is black */
  text-decoration: none; /* Removes underline */
  font-size: 2rem;
}
/* Optional: ensure styles on hover, focus, etc. */
.phone-number:hover,
.phone-number:active,
.phone-number:focus {
  text-decoration: none;
}

.socials {
  padding-top: 1rem;
}

.socials a {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--white-color);
  background-color: var(--black-color);
  padding: 1rem;
}
.socials a:hover {
  color: var(--light-color);
}

.links {
  font-size: 2rem;
  color: var(--light-color);
  padding: 1rem 0;
  display: block;
}
.links:hover {
  color: var(--white-color);
}

.links i {
  padding-right: 2rem;
}

/* .contact-info i {
  padding-right: 0.5rem;
  color: var(--blue-color);
} */

form .newsletter {
  width: 100%;
  border-radius: 5rem;
  border: var(--border);
  background: none;
  text-transform: none;
  font-size: 1.5rem;
  color: var(--light-color);
  margin-top: 1rem;
  padding: 1.2rem 1.4rem;
  margin-bottom: 1rem;
}

.contact-info p i {
  font-size: 2rem;
  color: var(--white-color);
  margin-right: 1rem;
}

.hr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.footer-hr {
  width: 80%;
  height: 1px;
  opacity: 1.25;
  color: var(--blue-color);
  border: 1px solid;
  margin: 5rem 0;
}

.copywrite {
  background: var(--black-bg);
  text-align: center;
  font-size: 2rem;
  padding: 1rem 2rem;
  color: var(--light-color);
  /* margin-top: -30rem; */
}
.copywrite span {
  color: var(--blue-color);
}

/* <!--------------------- Back to top btn ---------------> */

#backToTop {
  position: fixed;
  bottom: 20px;
  right: 30px;
  border: none;
  padding: 17px 20px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  color: var(--black-color);
  z-index: 99999999999999999;
  display: none;
}
#backToTop:hover {
  background-color: var(--blue-color);
}

#instagrmBar {
  background: transparent;
  position: fixed;
  bottom: 89px;
  right: 27px;
  border: none;
  padding: 10px 10px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 99999999999999999;
  /* display: none; */
}
#instagrmBar i {
  font-size: 40px;
  color: #64cd8a;
}

/* ----------------------------------------------------------About------------------------------------- */
.about-container {
  background-image: linear-gradient(
      161deg,
      rgba(121, 121, 121, 0.02) 0%,
      rgba(121, 121, 121, 0.02) 16.667%,
      rgba(193, 193, 193, 0.02) 16.667%,
      rgba(193, 193, 193, 0.02) 33.334%,
      rgba(177, 177, 177, 0.02) 33.334%,
      rgba(177, 177, 177, 0.02) 50.001000000000005%,
      rgba(5, 5, 5, 0.02) 50.001%,
      rgba(5, 5, 5, 0.02) 66.668%,
      rgba(229, 229, 229, 0.02) 66.668%,
      rgba(229, 229, 229, 0.02) 83.33500000000001%,
      rgba(211, 211, 211, 0.02) 83.335%,
      rgba(211, 211, 211, 0.02) 100.002%
    ),
    linear-gradient(
      45deg,
      rgba(223, 223, 223, 0.02) 0%,
      rgba(223, 223, 223, 0.02) 14.286%,
      rgba(70, 70, 70, 0.02) 14.286%,
      rgba(70, 70, 70, 0.02) 28.572%,
      rgba(109, 109, 109, 0.02) 28.572%,
      rgba(109, 109, 109, 0.02) 42.858%,
      rgba(19, 19, 19, 0.02) 42.858%,
      rgba(19, 19, 19, 0.02) 57.144%,
      rgba(180, 180, 180, 0.02) 57.144%,
      rgba(180, 180, 180, 0.02) 71.42999999999999%,
      rgba(63, 63, 63, 0.02) 71.43%,
      rgba(63, 63, 63, 0.02) 85.71600000000001%,
      rgba(87, 87, 87, 0.02) 85.716%,
      rgba(87, 87, 87, 0.02) 100.002%
    ),
    linear-gradient(
      337deg,
      rgba(142, 142, 142, 0.02) 0%,
      rgba(142, 142, 142, 0.02) 20%,
      rgba(164, 164, 164, 0.02) 20%,
      rgba(164, 164, 164, 0.02) 40%,
      rgba(203, 203, 203, 0.02) 40%,
      rgba(203, 203, 203, 0.02) 60%,
      rgba(228, 228, 228, 0.02) 60%,
      rgba(228, 228, 228, 0.02) 80%,
      rgba(54, 54, 54, 0.02) 80%,
      rgba(54, 54, 54, 0.02) 100%
    ),
    linear-gradient(
      314deg,
      rgba(187, 187, 187, 0.02) 0%,
      rgba(187, 187, 187, 0.02) 12.5%,
      rgba(170, 170, 170, 0.02) 12.5%,
      rgba(170, 170, 170, 0.02) 25%,
      rgba(214, 214, 214, 0.02) 25%,
      rgba(214, 214, 214, 0.02) 37.5%,
      rgba(187, 187, 187, 0.02) 37.5%,
      rgba(187, 187, 187, 0.02) 50%,
      rgba(190, 190, 190, 0.02) 50%,
      rgba(190, 190, 190, 0.02) 62.5%,
      rgba(6, 6, 6, 0.02) 62.5%,
      rgba(6, 6, 6, 0.02) 75%,
      rgba(206, 206, 206, 0.02) 75%,
      rgba(206, 206, 206, 0.02) 87.5%,
      rgba(171, 171, 171, 0.02) 87.5%,
      rgba(171, 171, 171, 0.02) 100%
    ),
    linear-gradient(
      300deg,
      rgba(243, 243, 243, 0.01) 0%,
      rgba(243, 243, 243, 0.01) 12.5%,
      rgba(209, 209, 209, 0.01) 12.5%,
      rgba(209, 209, 209, 0.01) 25%,
      rgba(179, 179, 179, 0.01) 25%,
      rgba(179, 179, 179, 0.01) 37.5%,
      rgba(3, 3, 3, 0.01) 37.5%,
      rgba(3, 3, 3, 0.01) 50%,
      rgba(211, 211, 211, 0.01) 50%,
      rgba(211, 211, 211, 0.01) 62.5%,
      rgba(151, 151, 151, 0.01) 62.5%,
      rgba(151, 151, 151, 0.01) 75%,
      rgba(16, 16, 16, 0.01) 75%,
      rgba(16, 16, 16, 0.01) 87.5%,
      rgba(242, 242, 242, 0.01) 87.5%,
      rgba(242, 242, 242, 0.01) 100%
    ),
    linear-gradient(
      6deg,
      rgba(31, 31, 31, 0.02) 0%,
      rgba(31, 31, 31, 0.02) 20%,
      rgba(193, 193, 193, 0.02) 20%,
      rgba(193, 193, 193, 0.02) 40%,
      rgba(139, 139, 139, 0.02) 40%,
      rgba(139, 139, 139, 0.02) 60%,
      rgba(14, 14, 14, 0.02) 60%,
      rgba(14, 14, 14, 0.02) 80%,
      rgba(122, 122, 122, 0.02) 80%,
      rgba(122, 122, 122, 0.02) 100%
    ),
    linear-gradient(
      279deg,
      rgba(190, 190, 190, 0.02) 0%,
      rgba(190, 190, 190, 0.02) 14.286%,
      rgba(160, 160, 160, 0.02) 14.286%,
      rgba(160, 160, 160, 0.02) 28.572%,
      rgba(23, 23, 23, 0.02) 28.572%,
      rgba(23, 23, 23, 0.02) 42.858%,
      rgba(60, 60, 60, 0.02) 42.858%,
      rgba(60, 60, 60, 0.02) 57.144%,
      rgba(149, 149, 149, 0.02) 57.144%,
      rgba(149, 149, 149, 0.02) 71.42999999999999%,
      rgba(4, 4, 4, 0.02) 71.43%,
      rgba(4, 4, 4, 0.02) 85.71600000000001%,
      rgba(50, 50, 50, 0.02) 85.716%,
      rgba(50, 50, 50, 0.02) 100.002%
    ),
    linear-gradient(
      109deg,
      rgba(124, 124, 124, 0.03) 0%,
      rgba(124, 124, 124, 0.03) 12.5%,
      rgba(61, 61, 61, 0.03) 12.5%,
      rgba(61, 61, 61, 0.03) 25%,
      rgba(187, 187, 187, 0.03) 25%,
      rgba(187, 187, 187, 0.03) 37.5%,
      rgba(207, 207, 207, 0.03) 37.5%,
      rgba(207, 207, 207, 0.03) 50%,
      rgba(206, 206, 206, 0.03) 50%,
      rgba(206, 206, 206, 0.03) 62.5%,
      rgba(118, 118, 118, 0.03) 62.5%,
      rgba(118, 118, 118, 0.03) 75%,
      rgba(89, 89, 89, 0.03) 75%,
      rgba(89, 89, 89, 0.03) 87.5%,
      rgba(96, 96, 96, 0.03) 87.5%,
      rgba(96, 96, 96, 0.03) 100%
    ),
    linear-gradient(
      329deg,
      rgba(35, 35, 35, 0.02) 0%,
      rgba(35, 35, 35, 0.02) 20%,
      rgba(246, 246, 246, 0.02) 20%,
      rgba(246, 246, 246, 0.02) 40%,
      rgba(118, 118, 118, 0.02) 40%,
      rgba(118, 118, 118, 0.02) 60%,
      rgba(245, 245, 245, 0.02) 60%,
      rgba(245, 245, 245, 0.02) 80%,
      rgba(140, 140, 140, 0.02) 80%,
      rgba(140, 140, 140, 0.02) 100%
    ),
    linear-gradient(90deg, hsl(0, 3%, 77%), hsl(0, 1%, 70%));
}

.about-video video {
  width: 60rem;
  border-radius: 5rem;
}

.about .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.about .content h1 {
  text-align: center;
}

/* ----------------------------------------------------------Breakpoints------------------------------------- */

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  .navbar-toggler i {
    display: block;
  }

  .navbar {
    display: none;
  }
}

/* small screen */

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .navbar.active {
    /* transform: translateX(-35rem); */
  }

  .header {
    height: 10.5rem;
  }

  .header .navbar-toggler {
    position: fixed;
    left: 0;
    top: 3%;
  }

  .navbar-toggler {
    margin-left: 5rem;
  }

  .navbar {
    display: none;
  }

  .close-btn {
    top: 0;
    right: 0;
    font-size: 2rem;
  }

  .logo img {
    width: 15rem;
    margin-left: 13rem;
  }
  .addtocart i {
    margin-left: 7rem;
  }

  .home-img {
    flex-direction: column;
  }

  .sale-img-btn1 {
    top: 134%;
    left: 74%;
  }

  .home-img img {
    width: 60rem;
  }

  .home-social i {
    font-size: 2rem;
  }

  .sales-img {
    flex-direction: column;
  }
  .sales-img img {
    width: 52rem;
  }
  .sale-img-btn2 {
    top: 245%;
    right: 61%;
  }
  .home-btn {
    top: 321%;
    left: 40%;
    z-index: 1;
  }
  .home-btn .btn-1 {
    font-size: 1.5rem;
  }
  .content h1 {
    text-align: center;
  }

  .box-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .image-wrapper {
    width: 70rem;
    height: 34rem;
  }

  .image-wrapper img {
    width: 32rem;
    height: 30rem;
  }

  .box-content1 h3,
  .box-content2 h3,
  .box-content3 h3,
  .box-content4 h3,
  .box-content5 h3,
  .box-content6 h3 {
    font-size: 3rem;
  }

  .box-content-container {
    gap: 2rem;
  }

  .box-content-container .btn-1 {
    padding: 8px;
    gap: 0.5rem;
    font-size: 10px;
    white-space: nowrap;
  }

  .about .container {
    flex-direction: column;
  }
  .about-video video {
    width: 42rem;
  }
  .footer .box img {
    width: 35rem;
    height: 20rem;
  }
  .footer .box-container {
    grid-template-columns: repeat(1, 1fr);
  }
}